[2021-08-12 15:40] ocataco opened #1 "how do I authorize graphql calls?"
When I try to create an Economic event from a script, I get the error:

<GraphQL::Client::Response:0x00007fe5df049620 @original_hash={"data"=>{"createEconomicEvent"=>nil}, "errors"=>[{"code"=>"needs_login", "locations"=>[{"column"=>3, "line"=>2}], "message"=>"You need to log in first. ", "path"=>["createEconomicEvent"], "status"=>401}]}, @data=#<#<Module:0x00007fe5dcde14c0>::RootMutationType creat

[2021-08-13 07:11] mayel commented on #1
Can't you read the cookies in the response and provide it in the header of any subsequent requests?

[2021-08-13 08:08] ocataco commented on #1
Hi Mayel,

I probably could, but unfortunately not with the client library i'm using right now (I just looked).

Apart from that inconvenience I would prefer if the service would use bearer tokens since it's just simpler to work with from an app/iot/spa (non-traditional web) client, and it has become the de facto standard.

I mean there is a special drop down gui in the graphiql interface for the

[2021-08-13 08:18] mayel commented on #1
Hi Taco, good point and would be happy to review a pull request for that.

[2021-09-02 19:09] bhaugen opened #2 "Fix typo in installation instructions"
https://github.com/dyne/reflow-os#installation
git clone https://gitub.com/dyne/reflow-os
shd be:
git clone https://github.com/dyne/reflow-os

[2021-09-02 19:12] srfsh commented on #2
Thanks for reporting.  3d48e96 fixes it.

[2021-09-02 19:12] #2 closed

[2021-09-10 12:17] srfsh commented on #1
Hello @ocataco,

I pushed some changes to the authentication system.  Now it should support Bearer tokens.

Are you able to use Bearer tokens inside your requests within the «authorization» header of your GraphQL client library?
If so, you can get the «token» field from the «login» mutation, and put that token into the «authorization» header with the «bearer» scheme.  This should authenticate.

Al

[2021-09-10 13:33] ocataco commented on #1
Hi Srfsh,

Sounds great, thanks!

I just did a 'make update' and a clean reinstall  of the docker containers managed by this repo locally, but when I browse to http://localhost:4000/api/schema I still only see:

[code]
I would expect to see a token:String right?

Is the docker container of the web app in this repo updated yet? Or is there something I can do / or something I forgot?

And yes I can

[2021-09-10 13:40] srfsh commented on #1
Yes.  That's odd.  Can you try to fetch the latest repo here, and try to do make update again, please?  I forgot to update the Dyne version of some images; maybe you are using that.
I just checked from the latest and I can clearly see that `LoginResponse` has `token:string` field.

Thanks.  ^^

[2021-09-10 14:26] ocataco commented on #1
Mmm, i tried again (deleted everything including docker containers bonfire directrory etc) but can't see the token field in the response.
when i do make pull i see:

docker pull bonfirenetworks/reflow:latest
latest: Pulling from bonfirenetworks/reflow
Digest: sha256:2180e2d4c7f625ba0d505d544b3ba905a3f2a44aa10b2fa8ffacec7dd1177e5c
Status: Image is up to date for bonfirenetworks/reflow:latest

and w

[2021-09-10 14:28] srfsh commented on #1
Yeah, it shouldn't run that.  The latest changes to this repo fixes that.  I missed that one while moving to our fork.

Can you try to fetch the latest code from this repo and try to run it again?

[2021-09-10 14:37] ocataco commented on #1
Thanks, looking great!

{
  "data": {
    "login": {
      "currentAccountId": "01FF823G83V7BDQ2XA32A3CCGB",
      "currentUsername": null,
      "token": "QTEyOEdDTQ.2YgjZgonOZQMhqZHVJyDw4tCVsjlDurVwdHeeMU_PNHAF1s2MsI1-M11MVI.u2fyE6_05p7er6Mu.Oysx-yonU2SqPE6Sw4uFeeRJ9vxyBR8cQcEMC8MLcxs0pnQGjq9Uf_G0veAZYgOD.qXk3cqJYgXYLH18T9_MDkQ"
    }
  }
}

And after logging in with Bearer in the explorer:

{

[2021-09-10 14:38] srfsh commented on #1
Cool!  If everything's alright, I am closing this issue now.  ^^

[2021-09-10 14:38] #1 closed

[2021-09-13 14:20] ocataco opened #3 "PrimaryAccountable of resource with specific id is not updated after a transfer event"
## Context
I'm working on a simulation of a flow regarding medical gowns. Each gown has their own trackingIdentifier.
At some point the 'hospital agent' produces a lot (with a manifest that lists the gowns it contains).

This lot (a resource which has it's own id), is at some point transferred to another 'cleaner' agent.

<img width="592" alt="Screenshot 2021-09-13 at 16 11 42" src="https://user-i

[2021-09-16 17:12] pral2a commented on #3
@ocataco  I think your issue is related that the previous issue but has no answer, neither https://github.com/dyne/zenpub/issues/60

[2021-09-21 10:29] srfsh commented on #3
Hi @ocataco,

You should use the field `toResourceInventoriedAs` instead of `resourceInventoriedAs` when you want to use the actions `transfer` and `move`.  Also, you should ask for `toResourceInventoriedAs` instead of `resourceInventoriedAs` in the response you'll get as well.

Cheers,
srfsh

[2021-09-21 11:08] ocataco commented on #3
Hi Srfsh,

Can confirm this works!

<img width="803" alt="Screenshot 2021-09-21 at 13 03 11" src="https://user-images.githubusercontent.com/4490647/134159692-c801fe54-5084-4aff-8064-4a1f44f4acee.png">

the resources is produced by the provider, transferred and consumed by the receiver

<img width="889" alt="Screenshot 2021-09-21 at 13 01 44" src="https://user-images.githubusercontent.com/4490647/1

[2021-09-21 11:22] pral2a commented on #3
Thank you @srfsh! That's also helpful for [ZenPub](https://github.com/dyne/zenpub) and [WeLoop](https://github.com/reflow-project/weloop)

@adam-burns I think it's super important to update the [Reflow OS documentation](https://reflowos.dyne.org/docs/api_tour) with it to help Reflow pilots move further

[2021-09-21 11:26] srfsh commented on #3
It seems like a UI bug, where it only uses the ID of `resourceInventoriedAs`.

Will work on that.

[2021-09-21 11:30] ocataco commented on #3
Oh one thing, i see in the screenshot that location of the lot is still OLVG and not the location of the receiver, do we need to do a seperate "move" for that?

[2021-09-30 11:25] ocataco opened #4 "Wish: graphql mutation for creating (and approving) users"
For the simulations I'm working on it would be great to script the making and approving of test users (with agents) instead of doing this by hand.

[2021-09-30 11:39] ocataco opened #5 "Wish: Searching or Filtering Economic Events and Economic Resources by trackingIdentifier"
In the simulation i'm working on, for example because of how packing and unpacking is implemented, the same 'medical gown' resource will exist at different times at for different owners (and places) identified under more than one reflow os id in its lifetime.
This is expected behaviour, and i guess it's the task  of a tracking identifier to string back together these resources and events in valuef

[2021-09-30 12:02] ocataco opened #6 "Feedback; (local dev enviroment) io issues under ongoing load"
This could have to do with not having enough resources in my local docker environment, but i'm reporting it just in case...
My resources allotted to docker: (CPUs: 4, Memory 8GB, Swap 2GB)

I'm experiencing various IO errors and unresponsiveness in local dev environment docker containers when running lots a consistent load with no elay.

I've tried adding a delay of 0.1 (errors still occur) and 1

[2021-10-01 06:51] adam-burns commented on #6
Hi @ocataco

Thanks for the feedback.

Can you provide observed repeatable or even deterministic steps that cause any of these symptoms at this stage?

Are you able to observe similar results on another instance, removing suspicions of resource constraints in local VM impacting behaviour?

[2021-10-02 05:55] mayel commented on #4
Hi @ocataco that's easy enough do to in Elixir, see for example the seeds script: https://github.com/dyne/bonfire-app/blob/main/flavours/reflow/repo/seeds.exs#L14

[2021-10-02 05:56] mayel commented on #4
As you probably found, there isn't currently a graphql API for users (other than simply logging in), though that's of course somewhere on the to do list...

[2021-10-04 12:22] vcuculo opened #7 "createOffer requires `action_id`"
The following mutation

[code]

results in

[code]

but `action_id` field is not defined AFAIK

[2021-10-04 13:39] adam-burns commented on #7
Can you confirm the host/IP address of the backend GraphQL you are using to attempt this interaction?

[2021-10-04 13:48] vcuculo commented on #7
It is deployed on localhost.

[2021-10-04 14:21] adam-burns commented on #7
OK. Thanks. The reason I asked was just to confirm that you were interacting with this repo's Bonfire backend, and not the CommonsPub (ZenPub flavour) backend.

[2021-10-04 14:31] vcuculo commented on #7
Yes, I can confirm that I'm currently testing locally the Bonfire backend.

[2021-10-04 17:42] srfsh commented on #7
Hi @vcuculo,

I pushed a fix to the ValueFlows code.  Can you try again and report me back?

Thanks,
srfsh

[2021-10-04 19:29] mayel commented on #7
Merged upstream, thanks all!

[2021-10-04 20:26] mayel commented on #5
Hi @ocataco a refactor or filtering/ordering/pagination is in the pipeline for the ValueFlows API, so I'll make a note to add this as a filter 👍

[2021-10-05 08:27] vcuculo commented on #7
Thank you all, I can confirm this is fixed.

[2021-10-05 08:27] #7 closed

[2021-10-05 13:24] vcuculo opened #8 "Cannot create `Commitment`"
Trying to create a commitment in response to an offer, as follows:
[code]
results in
[code]

[2021-10-08 13:25] ocataco opened #9 "Question; how to model repair"
first i do a transfer-custody of a garment resource from a consumer agent to a repairshop agent. (transfer-custody, because the consumer still owns his garment)

next i want the repair shop agent to do a modify on the resource (to repair it)
but i get the error "You cannot do this since the provider is not accountable for the resource"

please advise, thanks!

[2021-10-19 12:32] srfsh commented on #4
Hi @ocataco,

Can you fetch the latest source and try this make command to create verified users (everything must be set up and this must be run while the application is not running):

[code]

You can also pass the arguments `user` to specify the username, `name` to specify the full name of the user.  If not given, those fields will be randomly generated.

An example with all the arguments:
[code]

[2021-10-21 14:42] adam-burns opened #10 "Internal Server Error"
We tried to run the simulation on the "shared instance", but run into Internal Server Errors.
As we don't have access to the logs there, we don't know a lot more.

First we ran a small scenario, which went ahead successfully.
Then we tried a months worth of simulation, with a delay of 0.2 seconds between each call, and that failed quickly in the seeding stage of the simulation. (Lots of produce ev

[2021-10-26 14:55] vcuculo opened #11 "How to update without clean re-install"
How to update the code without the reset of db?

The following

`
make update &&
make run
`

results in

[code]

[2021-10-26 16:39] #11 closed, assigned to nobody

[2021-10-28 15:04] sbocconi opened #12 "Cryptographic functionality implementation (placeholder)"
Just a placeholder for the moment since cryptography is one of the distinctive features for ReflowOS and needs to be demonstrated somehow in the pilot use cases.

1. When is going to be implemented?
2. How can pilot showcase it?

[2021-10-29 08:44] vcuculo opened #13 "Subscription implementation"
It would be very useful to have the [Subscriptions](https://spec.graphql.org/June2018/#sec-Subscription) operation type of GraphQL in order to implement a notification system.

(related to https://github.com/dyne/zenpub/issues/57)

[2021-10-29 10:41] vcuculo opened #14 "`createOffer` ignores DateTime fields"
The following
[code]
results in

[code]
and the same happens for `hasBeginning` and `hasEnd`.

(related to https://github.com/dyne/zenpub/issues/66)

--
**Edited** because of wrong example.

[2021-10-29 12:48] #14 closed, assigned to nobody

[2021-10-29 13:53] sbocconi opened #15 "Federation functionality (placeholder)"
I guess this implies mostly implementing ActivityPub.

Federation might also be relevant for the clients that require pub/sub functionality.

[2021-10-29 14:01] vcuculo opened #16 "Intents filtering"
Could you please help me understand the semantic of `startDate` and `endDate` in intents filtering ?
I cannot find documentation about it. Thank you!

Example:
[code]

[2021-10-30 12:30] srfsh commented on #16
Hi @vcuculo,

Currently the back-end ignores the fields (`startDate` and `endDate`), and I couldn't find any documentation about how to implement them either.

I had an idea about how to interpret the fields, but @adam-burns changed my mind about it.  I asked about these to Lynn and Bob, and when they answer my questions, I'll let you know how should these work and I'll implement the specification

[2021-10-30 15:56] vcuculo commented on #16
Thank you @srfsh ,
mine was more a request for clarification on how to use those fields, in case they were used by the backend. I'm not sure that it is part of VF specifications. However, to implement a polling mechanism ti retrieve the list of intents, it would be very useful to be able to filter on DateTime fields with comparison logics (eg. =, <, >).

[2021-10-30 16:07] srfsh commented on #16
Yeah, that's my point.  I am not sure how to implement this.  What I initially thought was that querying by `startDate` would query for either `hasBeginning` or `hasPointInTime`, and `endDate` would query for either `hasEnd` or `due`, but we talked this with @adam-burns, and he convinced me that those mappings might not be right, and I decided to better ask this to Lynn and Bob.  :)

[2021-10-30 16:19] vcuculo commented on #16
I see, it could also be intended as the range (between startDate and endDate) of a specific DateTime field, rather than the start and end of the intent itself. Currently is possible to specify in the filter the value of hasBeginning, hasPointInTime etc., but is very limited since, I guess, it considers only == comparison.

[2021-10-30 16:53] fosterlynn commented on #16
I have passed on the question to the people who have done the most work on the graphql spec, and will let you know when I hear back.

In the meantime, just a quick note to say if you want to filter intents by when they are published, like to display all active offers and needs, that would be up at Proposal, not at the Intent level.  (Please ignore if not relevant.)

[2021-10-31 10:21] adam-burns commented on #13
This is very generic to assess. Can you be a little more specific as to what you had in mind to be very useful to subscribe to?

[2021-10-31 14:29] vcuculo commented on #13
Thank you @adam-burns , and forgive my vagueness. The question was to ask if this GraphQL functionality was already supported or if it was planned to support it in ReflowOs. I guess it would require additional server functionalities and configuration, such as a WebSocket server, so I was first asking if it would be feasible to support it.

Considering that it is possible to do so and speaking and

[2021-11-03 09:57] srfsh commented on #8
Just built and released the image!  It has support for CRUD operations with Commitments, Intents, and Satisfactions, Fulfillments on their way. ^^

Can you test the changes and report me back?  ^^

[2021-11-03 14:49] vcuculo commented on #8
Thank you @srfsh !
Just tried a `createCommitment` mutation after a `make update && make run`, result is

[code]

[2021-11-03 14:51] srfsh commented on #8
Can you run `Bonfire.Repo.ReleaseTasks.migrate()` from the Elixir shell?

[2021-11-03 15:25] vcuculo commented on #8
Sure, here's the output
[code]

[2021-11-05 16:57] #4 closed

[2021-11-05 17:04] vcuculo commented on #8
Thank you @srfsh , I can confirm that a fresh install did the work.
I can also confirm, that after some tests of the new functionality, it works as expected.
The issue can be closed :)

[2021-11-05 17:06] #8 closed

[2021-11-09 14:17] adam-burns commented on #10
Unless and until we can reproduce this issue on the staging hosted instance or elsewhere for further diagnosis I'm going to close this issue.

[2021-11-10 05:24] pospi commented on #16
Hi all! There's a lot of room for input on these query edges- in terms of the GraphQL spec there aren't really any apps yet doing complex queries on records.

There has been some discussion surrounding the general nature of date-based queries at https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/issues/83 which @fosterlynn and myself have tried to genericise a logic for, but the proposal a

[2021-11-10 07:23] srfsh commented on #16
Thanks a lot for the link, @pospi.

I think I get the idea about how it should be used.  I've implemented a solution where I get the record that matches `hasPointInTime >= startDate AND hasPointInTime < endDate` or `hasBeginning >= startDate AND hasEnd < endDate`, and ignores `due` (because of how it is interpreted).  So, basically this allows you to use the `startDate` field inclusively, `endDate

[2021-11-10 15:33] vcuculo commented on #16
Thanks  @pospi and  @srfsh , I think your proposed solution works good in most cases. How do you choose to handle the comparison against the pair `hasBeginning`-`hasEnd` rather than the value of `hasPointInTime`? Are these fields mutually exclusive?

[2021-11-10 15:43] srfsh commented on #16
Yeah, that was my initial thought.  I've also consulted  this to Lynn a while ago, and she said that `hasPointIntime` can be mutually exclusive to `hasBeginning` and/or `hasEnd`.  I guess that means one can have those combinations only (`due` is allowed in any combination also):
* only `hasPointIntime`
* only `hasBeginning`
* only `hasEnd`
* only `hasBeginning` and `hasEnd`

@fosterlynn what do yo

[2021-11-10 18:02] fosterlynn commented on #16
That makes sense to me.

One note:  A lot of groups will not bother with time and just use date, depending on their needs.

I don't understand the use case for using endDate exclusively?

I feel like most of the use cases I'm familiar with for Intents are trying to find possible matches between offers and wants, so aren't very picky in general.  If the query is to get any Intents that fall in that

[2021-11-10 18:38] srfsh commented on #16
Not a problem, as far as I am concerned.  Conversion from `2021-03-04` to `2021-03-04T00:00:00Z` wouldn't be hard for an implementer.  :D

It is to allow rotating between `startDate` and `endDate`.  Imagine that you want to loop through available Intents based on date (the case here).  This allows an easier logic:
* first iteration: `startDate` = 2021-03-04, `endDate` = 2021-03-05
* second iterati

[2021-11-10 18:44] fosterlynn commented on #16
Ah I get it, that makes sense.  Then I guess it depends on what use cases you all are thinking about. :)

[2021-11-10 18:45] srfsh commented on #16
Alright then.  I'll push the changes tomorrow.  ^^

[2021-11-11 06:57] srfsh commented on #16
Hey, @vcuculo.  I've published a new image.  Can you test out the changes?  ^^

[2021-11-11 07:19] #10 closed

[2021-11-12 10:20] vcuculo commented on #16
Thank you @srfsh , I can confirm that the feature works as expected :wink: This issue can be closed.

[2021-11-12 10:21] #16 closed

[2021-11-12 10:23] srfsh commented on #16
Cheers.  ^^

I am also planning to document the usage of the fields when my colleague is available.

[2021-11-12 10:24] vcuculo commented on #16
It would be great and useful!

[2021-11-16 07:57] adam-burns commented on #5
Hi @mayel any update/expected timeline for ValueFlows filtering with trackingIdentifier as an argument?

Is refactoring filtering/ordering/pagination for the whole ValueFlows API a hard prerequiste?

[2021-11-18 11:51] adam-burns opened #17 "WeLoop: Sufficient User/Org GraphQL exposure for initial use cases"
Assess, implement, debug, test & verify that functionally equivalent ReflowOS GraphQL exposure to the ZP User extension operate correctly with WeLoop to the extent required by initial use case flows.

[2021-11-18 11:53] adam-burns opened #18 "WeLoop: Sufficient Social GraphQL exposure for initial use cases"
Assess, implement, debug, test & verify the ReflowOS GraphQL equivalent exposure to ZP Comment, Thread, Like and Flag extensions operate correctly with WeLoop to the extent required by initial use case flows.

[2021-11-18 11:53] adam-burns opened #19 "WeLoop: Sufficient Community GraphQL exposure for initial use cases"
Assess, implement, debug, test & verify the ReflowOS GraphQL equivalent exposure to ZP Community extension operate correctly with WeLoop to the extent required by initial use case flows.

[2021-11-18 12:27] adam-burns commented on #5
Hi @ocataco can you confirm whether this issue a wish or a tracking and tracing implementation blocking issue?

Thanks

[2021-11-18 12:38] adam-burns opened #20 "Reflow PoC UI: Transfer: View Resource: unrecognized"
It seems like a UI bug, where it only uses the ID of `resourceInventoriedAs`.

Will work on that.

_Originally posted by @srfsh in https://github.com/dyne/reflow-os/issues/3#issuecomment-923889168_

[2021-11-18 12:57] adam-burns commented on #3
@srfsh @ocataco can you determine if is this a usage misunderstanding or if it is a separate but related uncovered issue?

[2021-11-18 15:34] adam-burns commented on #3
Thanks Lynn, @ocataco does `currentLocation` usage work for you?

[2021-11-18 23:32] mayel commented on #5
implemented in https://github.com/bonfire-networks/bonfire_valueflows/commit/03f00cb152300a4c583db1de043518eb815277f9

[2021-11-22 14:39] ocataco commented on #3
Hi @adam-burns  I understand that you could specify currentLocation when creating a new resource, but in my test I was explicitly trying to transfer these container resources without creating a new resource which I think is a valid way in use cases where cooperation is important. It's just seems to make sense to give things the same name when you are working together to get insight into the flow o

[2021-11-22 15:45] fosterlynn commented on #3
@ocataco thanks, seems like a valid (and nice) use case, just not one VF has run into.  You mean the same ID too, I assume, meaning it is the same resource instance in the software.  (Just to note for future reference, you can follow the flows of resources in either case, by following them through the input-process-output and transfer activities, irrespective of agents and locations.  But still, g

[2021-11-22 21:18] mayel commented on #13
Hi @vcuculo, it is indeed feasible though requires some implementation on the server, and the addition of subscriptions to the GraphQL schema, so we indeed need to clarify which data types (eg. Intent, Proposal or Commitment) and operations should be exposed via subscriptions.

In Bonfire we have a notifications feed which contains Activities such as when you are mentioned or someone replies to so

[2021-11-23 00:18] mayel commented on #13
I have gone ahead and implemented subscriptions in the API.

So now remains to define what subscriptions are needed.

[2021-11-23 00:31] mayel commented on #5
PR to merge into reflowos: https://github.com/dyne/bonfire_valueflows/pull/1

[2021-11-23 09:33] vcuculo commented on #13
Thank you @mayel , this is very cool! For our specific use case, it would be useful to have subscriptions related to newly created Intents and Commitments, filtered by a provider and/or a receiver.

[2021-11-23 14:23] adam-burns commented on #18
See [WeLoop #69](https://github.com/dyne/zenpub/issues/69) for WeLoop specific uses:

Activity reflow-project/weloop#135 (maybe not critical unless it also provides information about the value flows activity)
Community reflow-project/weloop#129
Comment reflow-project/weloop#130
Thread reflow-project/weloop#132
Like reflow-project/weloop#124
Flag reflow-project/weloop#126

[2021-11-23 14:27] adam-burns commented on #17
See WeLoop #69 for Registration & User(s) and Profile WeLoop specific uses:

## Registration and Authentication

Users log in, sign up, password recovery
Requests authentication (docs missing ?)
reflow-project/weloop#136

## User(s) and profile

User reflow-project/weloop#123 needs to be map to Agent reflow-project/weloop#134
Me reflow-project/weloop#127

[2021-11-23 14:30] adam-burns commented on #19
See WeLoop #69 for WeLoop specific uses:

(listed under social)
Community reflow-project/weloop#129

[2021-11-24 16:58] fosterlynn commented on #3
Added a property in VF called `toLocation` on EconomicEvent, that can be used to update `currentLocation` on the EconomicResource.  Not yet in the graphql spec, probably not yet showing in the website gitbook.

https://lab.allmende.io/valueflows/valueflows/-/merge_requests/663/diffs

[2021-11-25 08:15] ocataco commented on #3
That sounds like a very nice addition, thanks Lynn!

[2021-11-26 22:11] mayel commented on #18
Work on the API is ongoing, will track progress here:

- [ ] Sign up
- [ ] Request new confirmation email
- [ ] Confirm email
- [ ] Request new password
- [ ] Log in
- [ ] Change password
- [ ] Edit profile
- [ ] Agent -> User
	- [ ] Fetch current agent
	- [ ] Get one
	- [ ] List
- [ ] User
	- [ ] Fetch current user
	- [ ] Get one
- [ ] Activity
	- [ ] Get one
- [ ] Activity Feeds
	- [ ] Feed for

[2021-12-12 06:07] mayel commented on #18
@adam-burns I've now pushed most of the queries and mutations. I could use help prioritising what's missing:
- pagination of list queries is WIP/pending because I want to align it with the upcoming refactor of pagination of the VF API schema
- various user related mutations which shouldn't be a blocker to get started refactoring the client
- various subqueries related to boost/like (counts and sta

[2021-12-14 14:23] vcuculo commented on #16
As regards intents filtering, it would also be useful if the `finished` field is not ignored. Currently is provided in the filter, but it does not affect the query results. Let me know if a new issue is needed. Thank you!

[2021-12-14 14:38] srfsh commented on #16
Thanks for reporting!  I am on it.  ^^

[2021-12-15 07:36] adam-burns commented on #18
Thanks @mayel !

Awaiting WeLoop dev feedback on WIP, but current priorities for this issue would be

- various user related mutations
- community/group **
- organisation **

Notes:
- pagination: understood. the WeLoop client currently has some amount of client side handling so is not yet a blocking issue.
- various subqueries related to boost/like don't appear to be blocker atm.

** are these rel

[2021-12-15 13:16] srfsh commented on #16
I just released another image fixing this.  Can you try it out?  Thank you!  ^^

[2021-12-15 13:38] vcuculo commented on #16
Wow, so fast! Thank you, just tested and it works as expected!

[2021-12-15 22:57] mayel commented on #18
Noted. To answer your question, circles and boundaries will come into play for groups and organisations at some point to manage roles and permissions. For now organisations are implemented more like "shared users" where multiple people can login with their own account and can all choose to act as the organisation (meaning they're all admins of it).

[2021-12-22 17:46] pral2a commented on #18
@adam-burns are the latest changes live on the Bon Fire staging server? Thanks

http://135.181.35.156:4000/api/explore

[2021-12-22 20:10] adam-burns commented on #18
@pral2a the latest changes are not yet reflected in the docker image or staging server, as due to multiple component upgrades, there remain some consequential Phoenix issues could impact pilot use on staging.

However, in the meantime, a local build can be performed for assessment by:

## Raising a local ReflowOS instance

[code]

To create first user in Elixir console
[code]

http://localhost:400

[2021-12-22 20:15] adam-burns commented on #18
Thanks for the clarification. Could you please update this issue on the status of remaining priorities?

[2021-12-23 22:35] mayel commented on #18
All items related to user and organisation are now checked off.

[2021-12-25 23:14] adam-burns commented on #18
Thanks @mayel for also preparing [graphql example usage](https://gist.githubusercontent.com/mayel/79e97e2fc81244e691c842a6594dfdb5/raw/2412be76c27604f30ae3f255bf3549b39d4e1b62/bonfire%2520API.gql).

[2022-01-03 15:46] adam-burns opened #21 "ODD: Sufficient ReflowOS integration for initial use cases"
Assess and if necessary implement, debug, test & verify ReflowOS GraphQL endpoints for ODD Valueflows visualisation to support initial use cases.

[2022-01-03 15:52] adam-burns commented on #21
ODD developers thought of some data visualization ideas regarding the ODD. One of those ideas is a map, where the resource-specific supply and demand of the different locations are being displayed. Another one is to visualize processes as graphs.

Do the following make sense:

1. Query all resources of all locations in one list (with ID, name, quantity, unit, location ID)
2. Query all locations (w

[2022-01-03 17:14] srfsh commented on #21
I think you can do this by querying Economic Resources and SpatialThings separately.  What I couldn't understand is that do you mean querying by ID, name, quantity, unit, etc.?  Because that's a different thing.

You can query SpatialThings.  But are you referring to filtering here too?

Can be done by querying Intents.  But are you referring to filtering here too?

Yeah, this needs to be implemen

[2022-01-07 17:07] jonashet commented on #21
From our perspective it is desirable for each visualization process to get as much information out of a single query as possible, because each request inherits an own harvesting-process. For the "demand-supply"use-case we need a table, which contains every resource with its respective ID, current location, quantity and unit. In order to achieve this we currently have to send a request to the same

[2022-01-07 17:37] sbocconi opened #22 "accountingQuantity and onhandQuantity are `null` on raise economicEvent"
[code]

with variables;
[code]

I get the following output:
[code]
Is it normal that accountingQuantity and onhandQuantity are `null`?

[2022-01-08 00:24] fosterlynn commented on #22
No, at least accountingQuantity on a resource should be a quantity, even if it is zero something. But if I am following correctly, you are using `raise` with `toResourceInventoriedAs`?  If so, the problem could be that `raise` (and most event actions) assume `resourceInventoriedAs`.  Just a guess.

[2022-01-10 14:12] vcuculo opened #23 "economicEvents filtering"
Following the resolution of issue #16 , it would be useful to replicate the filtering feature also for `economicEvents`.
Query is already present, but seems to ignore the parameters. in particular `action`, `startDate`, `endDate` and `receiverId`.

[code]

[2022-01-10 15:02] pless84 opened #24 "Duplicates in dropdown on transfer"
After doing multiple transfers we get multiples in the dropdown to choose. Wold be helpful if we could only select valid resources in the dropdown.
It gets really long and with many duplicates so ends in a hit and miss to select the correct resource.
![Skærmbillede 2022-01-10 160039](https://user-images.githubusercontent.com/324145/148788025-34eba020-2700-4c9c-a8ad-8accb5d5a3b4.png)

[2022-01-10 16:01] srfsh commented on #23
Hi, Vittorio.

Thanks for reporting.  I'll work on it and report you back!  ^^

Cheers,
srfsh

[2022-01-10 16:01] srfsh commented on #24
Hi, Jakob.

Thanks for reporting.  I'll work on it and report you back!  ^^

Cheers,
srfsh

[2022-01-10 16:08] MiMonecke commented on #21
Hi all,
ok some clearifications by reference to the first query:
`1. Query all resources of all locations in one list (with ID, name, quantity, unit, location ID)`
We would like to request all resources of a given location. The response should provide the following properties for each resource: ID, name, quantity, unit, location ID - so brackets here does not indicate parameters.
At the moment res

[2022-01-10 16:22] srfsh commented on #21
Do a query like this satisfy your needs?

[code]

[2022-01-11 06:29] srfsh commented on #21
@MiMonecke I've got a thumbs up from this.  Does that mean I can close the issue?

[2022-01-12 09:09] MiMonecke commented on #21
Hi @srfsh,
may I was a bit slow in my thinking, but I edited/added a question while you were answering the first part of my message.
Can you please have a look on that?

Furthermore when we request all resources like suggested, it would be nice to request all available locations with their IDs, name, lat and long.
I mean requesting a list of all locations without stating their IDs as parameters.
I

[2022-01-12 09:29] sbocconi commented on #22
Hi @fosterlynn, thank you for your reply.

I use `toResourceInventoriedAs` because `resourceInventoriedAs` returns `null` (or maybe I am using it wrongly).

This call
[code]

with variables:
[code]

returns the following:
[code]

so `resourceInventoriedAs` is just null. I guess this is not the expected behaviour.

[2022-01-12 10:27] adam-burns commented on #21
Just to clarify my comment, I mentioned hat harvesting as much data over GraphQL as possible for full ingestion raises a tension against its design priniciple of data minimisation.

With respect to querying updates over time, GraphQL does offer subscriptions for updates over time are server side heavy, need to be server side implemented for each use case and not currently implemented for locations

[2022-01-14 10:07] sbocconi commented on #9
I have modelled a similar case with transfer-custody and when I use an accept-modify action, I still indicate as the provider id the id of the primaryAccountable agent.

This for me can make sense if we consider that the provider is not necessarily the agent that performs an action, but the provider of the resource.

Or is this a wrong interpretation?

[2022-01-14 10:35] sbocconi commented on #3
Is the new property toLocation on EconomicEvent scheduled to be implemented in Bonfire?

[2022-01-14 11:54] theobat opened #25 "Initialization fails on MACOS with readme instructions"
This is mostly for information purpose, I've got several ways to figure this out but I log it here in case it can help anyone.

So I've got :

[code]

And then :

[code]

And this in the db service logs.

[2022-01-14 12:02] theobat commented on #25
For the record I used :
[code]

In the docker compose file at the db service description which solved the "problem".

[2022-01-14 12:33] bhaugen commented on #9
That part is correct.

I think so. One aspect of a repair process is that the same resource is both an input (using the "accept" action) and an output (using the "modify" action). But there is also at least one other input, the work or service that does the repair, and also often some new parts, tools, equipment, etc. Those are usually provided by one or more other agents, not the primary accounta

[2022-01-14 17:01] fosterlynn commented on #21
I hope I'm not responding to the wrong part of this issue, I'm not totally clear on the question of how to get all the data you need in one call, vs how to get updates to that data pushed from the server.  If I'm not properly connected to this discussion, please just ignore.

Just another option.  This particular reverse query probably doesn't exist, but it could.  And I notice I haven't defined i

[2022-01-17 16:22] vcuculo opened #26 "ValueFlows queries: Foody Zero Waste use case"
As suggested by @adam-burns ,  I share the snippets of code involved in the Foody Zero Waste use case for the interaction with the ReflowOS backend both from the IoT device and the Telegram bot.

### IoT device
0. the phyisical device performs the login and stores the token
[code]
1. when requested by the user, the physical device sends a new offer
[code]
2. It saves the newly created intent id in

[2022-01-27 13:30] srfsh commented on #23
I've fixed this in the latest image I released.  Can you test the changes?  It is also live on http://reflow-demo.dyne.org:4000.

[2022-01-27 13:30] srfsh commented on #24
I've fixed this in the latest image I released.  Can you test the changes?  It is also live on http://reflow-demo.dyne.org:4000.

[2022-01-28 13:29] vcuculo commented on #23
Perfect, thank you!

[2022-01-28 13:29] #23 closed

[2022-01-31 07:50] pless84 commented on #25
I tried adding that line but still same error

[2022-02-01 15:22] theobat opened #27 "Internal error on the login mutation"
I'm facing an internal server error when trying to login with my account in bonfire :
[code]

The GraphQL Query being :

[code]

And yet the agent for this user exists and other queries are not causing any problem :

<img width="1143" alt="Capture d’écran 2022-02-01 à 16 20 36" src="https://user-images.githubusercontent.com/8222999/151996506-186b3cad-686e-4827-9cee-c97c83e18762.png">

[2022-02-01 17:01] theobat commented on #27
I've got more context in a later error message :
** (ArgumentError) cookie store expects conn.secret_key_base to be at least 64 bytes

Changing to a longer (64+ bytes) SECRET_KEY_BASE made the error go away

[2022-02-01 17:01] #27 closed

[2022-02-02 14:02] sbocconi opened #28 "Material Passport generation unclear"
(Sorry for the long log outputs)

I generate the following flow on `http://reflow-demo.dyne.org:4000/api/explore` using Node-red and the script in [this repository](https://github.com/WeMake-cc/reflow-nodered/tree/code) :
[code]
The query to generate the trace and track info is the following (with id as above last line and recurseLimit:10):
[code]

The generated output is in [this file](https://gi

[2022-02-05 12:57] srfsh commented on #28
Hi, @sbocconi.

Thanks for the quick Jitsi meeting!  <(^.^<)

From what we discussed on Jitsi, you seem to be looking for timestamp information on the records.  The IDs used in the records conform to the standard [ULID](https://github.com/ulid/spec), which means they already contain timestamp information in the first 10 characters, encoded in Crockford's Base32.  You can use them for what you need

[2022-02-05 18:03] fosterlynn commented on #28
@srfsh @sbocconi it doesn't sound right that you are seeing the a number of the same records on both the track and the trace, unless you have a different starting point.  @bhaugen has some working code he can point you to, which might help, since it includes more than the doc (specifically, the recursion logic).  And we'll see what we can do to further document this feature.  And I'm happy to take

[2022-02-05 19:15] bhaugen commented on #28
Tracing backwards and tracking forwards from a resource means tracing the incoming resource flows and tracking the outgoing resource flows from the resource you are starting from.

See if this helps: https://lab.allmende.io/valueflows/vf-app-specs/vf-apps-traversing-the-flows/-/issues/6#note_39496

Those seem to be difficult concepts to explain and understand.

Another way to think about it is in

[2022-02-06 01:30] bhaugen commented on #28
I'd like to see the data you are working from and maybe the code you are using. I could probably figure it out from the outputs you posted but the data plus where you were starting from with tracking and tracing would speed the conversation.

[2022-02-06 15:33] bhaugen commented on #28
@sbocconi I'm also interested in any details, code, screenshots, etc, about how you are using node-red.

[2022-02-07 14:04] pless84 opened #29 "Database error on fresh install"
I get errors when trying to install on a fresh debian virtualbox

![image](https://user-images.githubusercontent.com/324145/152802894-0f011952-8163-4d28-be5e-44cd0a6ac8cd.png)

[2022-02-07 16:12] sbocconi commented on #28
Hello @bhaugen, I have posted on Gitter the repository I used to generate the data in this issue, and I have added a Readme that hopefully helps to understand how to use the code.

Meanwhile the conversation about the Material Passport is still ongoing within Reflow.

[2022-02-08 09:35] srfsh commented on #29
Hey @pless84,

Can you try to run it again from fresh clone?  It should work now.

Thanks!

[2022-02-08 13:08] sbocconi opened #30 "Local deployment on Mac fails"
I am trying to launch a local node with the procedure described int the readme.

From a fresh git clone, cd reflow-os and `make config setup` I get:

Shell output:
[code]

In the console of the DB container I get an endless repetition of the following log outputs:
[code]

The Search container shows:
[code]

[2022-02-08 20:15] fosterlynn commented on #28
I might understand better how you would see this now.  If your flow is linear, without branching, and you are executing trace from the end, and track from the beginning, you would get pretty much what you have described.  If this is the case, please disregard my earlier comment and pardon the interruption.

But note, the order should be different, and proceed in the forward or backward direction a

[2022-02-11 12:12] bhaugen commented on #28
@sbocconi thanks again. I am wading thru all of those details, might have many picky questions. For example, in your MP-demo.log, I see
`event id: "01FVHYRK5F4ZD5CTE1GFSR4J07", action produce 1 gown with tracking id: gown-1343`
...but then I don't see that tracking id anymore.

Correct.

True, but I didn't see the raise event in your logs or options. Did you add a Process to create the cotton inst

[2022-02-11 13:26] sbocconi commented on #28
Hi @bhaugen, thanks for looking at the issue!

Indeed I do not use the tracking id much in my script (also not for the `water`, `soap` and `cotton` resources), as I refer to the resource with the Reflow generated id.

This is just out of practical reasons, as I saw that id more used than the other one in the GraphQL API (this might be due to my quick checking how to make the calls without delving

[2022-02-11 15:17] bhaugen commented on #28
@sbocconi thanks a lot! @fosterlynn and I also just met with @srfsh and we'll meet with him again soon. This exercise is being very valuable to testing out the Valueflows documentation and finding out where it is unclear, and in some cases your use case is exposing things we need to improve in the spec.  So thanks a lot to both of you, and we'll work with you to get things all cleared up asap.

To

[2022-02-14 11:08] sbocconi commented on #28
Hello @bhaugen ,

I think there is some uncertainty (at least with me) as to where is the point in time that divides the trace record from the track record.

If we define the trace as to how something came to be, the transfer event is not part of it, as at that moment the gown already exists.

So strictly speaking the trace  for me would be (if I get your formalism right):

`[Gown-1343@sew_gown]<-

[2022-02-14 15:42] bhaugen commented on #28
@sbocconi
If you envision the flows for a Resource as a directed graph, with nodes for each of the related EconomicEvents and Processes, then usually people start a trace at a particular node or edge. So trace backwards means preceding edged and nodes, and track forwards means subsequent nodes and edges.

You could find those via a traversal from your starting node or edge.

For example, if you st

[2022-02-14 16:14] sbocconi commented on #28
It does make sense in theory, but when I see a gown I can scan a QR code that it is stitched on it to get the tracking id.

All that I know is the tracking id and the current time. I do not know about nodes that the gown might have gone through.

At that moment if the system does not allow me to specify any time in querying track&trace information, the only assumption  the system can make is that

[2022-02-15 11:33] sbocconi commented on #28
Hi @bhaugen

1. I think the material passport (just talking about the content, not the cryptographic part) should contain everything that is known, from production (how the gown was made) to usage (everything that ever happened to it after it was made), and therefore I was trying to understand how trace and track would work to apply to this case, since I do not want to find the same elements twice

[2022-02-15 19:08] fosterlynn commented on #28
@sbocconi thanks

I was thinking that you would use just the trace (backwards) for the material passport.  So there wouldn't be overlap with track there.  Does that seem right for your requirements?  You could trace from "right now", which would get everything.  But that would be a different data set next week, after it was washed again, say.  Or if you need a consistent passport over time, you co

[2022-02-15 23:08] vcuculo opened #31 "Transfer causes loss of PrimaryAccountable"
Suppose that agent A owns 30 kg of apples, and transfers 10 kg to agent B (resulting in a new economic resource for agent B).
Then agent A tries to transfer other 10 kg to agent C, but ReflowOS says that the resource is owned by B and the transfer cannot be performed.

[2022-02-15 23:16] vcuculo opened #32 "Tags are ignored in EconomicResource creation"
The following query
[code]

results in

[code]
but I expect to find `tags` a non-empty field. This used to work in past, but something changed with new updates.

[2022-02-15 23:31] mayel commented on #32
Thanks for the report! I will look into this one.

[2022-02-16 00:34] mayel commented on #32
I've pushed a fix. Please let me know if it works for you (after @srfsh has updated the release)

[2022-02-16 08:27] sbocconi commented on #28
Hello @fosterlynn,

I agree that the content for the Material Passport would be a trace from "right now". And because the way it would work (basically you scan a tag and you are led to a webpage) it would always report all that is happened, so not be consistent if something has happened between two id scans.

The option to specify a particular point in time is interesting and possibly a nice-to-ha

[2022-02-16 14:46] bhaugen commented on #28
@sbocconi the medical gown use case exposed a bug in the track and trace logic described at https://www.valueflo.ws/algorithms/track/#track-and-trace-logic

The problem with using timestamps for sequencing resource flows is that we are working in distributed systems, and it can be difficult or impossible to sequence using timestamps in distributed systems. The standard way to do it is called [caus

[2022-02-16 15:23] fosterlynn commented on #28
I think you shouldn't consider yourself constrained by the current parameters you find on the graphql.  It is not my place to say this probably, but I think with @srfsh we can make sure you have what you need.

[2022-02-17 11:17] vcuculo opened #33 "Cannot delete or update EconomicEvents"
The following

[code]

results in

[code]

while in backend

[code]

[2022-02-17 13:57] fosterlynn commented on #33
I can't speak to the implementation, but in Valueflows, we recommend that an EconomicEvent not be deletable.  This is because you never know when accounting reports might have picked it up.  So it must be "backed out" by an opposing EconomicEvent that nets the resource effect to zero.  Some event actions have naturally opposing ones, some don't.  Events are designed to not need to use negative qua

[2022-02-18 14:14] bhaugen commented on #28
Thanks, but yeah, doesn't involve the repetitive processes, which are the issue that exposed the bug..

I can understand why that is not clear enough. I'll try to clarify that in my description, but maybe try to clarify for you first to see what explanation would make sense.

As you may know, Valueflows has 3 levels, Knowledge (in this case Recipe, the standards for what should happen), Plan (the

[2022-02-19 13:58] bhaugen commented on #28
@sbocconi would you have time to give me some feedback on my proposed solution to the bug I linked to upthread (the medical gowns use case with the repetitive process cycles)?
And think about whether ULIDs with Lamport Timestamps would be better? And how you could or already did implement ULIDs with Lamport Timestamps?

Here's proposed solution: https://cryptpad.fr/pad/#/2/pad/view/EpvHaJRYYnpNFPX

[2022-02-21 14:29] vcuculo commented on #33
I understand, thank you @fosterlynn for the clarification.

[2022-03-07 20:00] bhaugen commented on #28
@sbocconi
I'm returning to this algorithm because I'm engaged in several other conversations about these topics and the ULID with a lamport timestamp came up again.

Did you try this algorithm? If so, how did it work for this use case?

It does make sense, I think. How Valueflows works in distributed systems will depend a lot on the distributed system, the nodes involved, and the messages, etc. Se

[2022-03-08 00:53] fosterlynn commented on #28
@sbocconi @srfsh re. pack/unpack:

I truly apologize for this change at this stage of your deliverables, but we felt it was needed, based on working through the pack-unpack sequence for the hospital gowns, and then looking into other use cases that are similar.  Instead of following the container itself, we are following a package that includes the container.  At the same time, we changed the nami

[2022-03-08 08:45] sbocconi commented on #28
Hello @bhaugen, I have not tried this algorithm, I thought about using it when you started talking about the problem of time in distributed systems, and considering Bonfire uses ULID it seems that there could be something to integrate given that otherwise the ordering of the ULID might not make sense across systems.

This is something for the developers of Bonfire to consider, I am a user of that

[2022-03-08 12:48] bhaugen commented on #28
@sbocconi thanks for your comment, Re

Hmm, I did not know that Bonfire was using ULID. Will have to ask them how they did it. Do you know? Was it like the code you posted upthread?

I am looking at three different methods of causally ordering resource flows:
* my proposal for previousEvent fields on Resources and EconomicEvents as breadcrumbs
* ULID
* versioning Resources, keeping an ordered coll

[2022-03-09 17:37] bhaugen commented on #28
I talked with the Bonfires. Their ULID implementation uses timestamps based on the server clock, which means, in a distributed system, you can't trust the ULIDs for causal ordering.

So I think either the breadcrumbs or versioning the resources on every change will be necessary. The breadcrumbs might be better for interoperability across different stacks.

[2022-03-10 09:04] sbocconi commented on #28
Yes I agree, you cannot rely on the current implementation of ULIDs in Bonfire, that is why I thought that  Lamport timestamps would be a nice addition to Bonfire, but that was a suggestion to the Bonfire developers.